# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Agent Rules & Privacy
GEMINI.md
agent/

#Remediation
security-remediation.md
